<!DOCTYPE HTML>	
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments :: risorse-head"></th:block>
		<title>Departments</title>
	</head>
	<body>
		<th:block th:replace="fragments :: navbar(departments)"></th:block>
		<table class="table my-3">
			<thead>
				<tr class="text-center">
					<th>name</th>
					<th>address</th>
					<th>phone</th>
					<th>email</th>
					<th>website</th>
					<th>head of department</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dep : ${departmentList}">
					<td th:text="${dep.getName()}"></td>
					<td th:text="${dep.address}"></td>
					<td th:text="${dep.phone}"></td>
					<td th:text="${dep.email}"></td>
					<td th:text="${dep.website}"></td>
					<td th:text="${dep.headOfDepartment}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html> 

