<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="fragments :: risorse-head"></th:block>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <img src="/img/gigigi.jpg" alt="" width="30" height="24">
            <a class="navbar-brand" href="#"><b>Università Ti Aspecto</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/department">Departments</a>
                </div>
            </div>
        </div>
      </nav>
</body>
</html>