<!DOCTYPE html>
<html lang="it">

<head>
    <th:block th:replace="fragments :: risorse-head"></th:block>
    <title>Insegnanti</title>
</head>

<body>
    <th:block th:replace="fragments :: navbar(teachers)"></th:block>
    
	  <div>
	        <table class="table my-3">
	          <thead>
	            <tr class="text-center">
	              <th>Insegnante</th>
	              <th>Telefono</th>
	              <th>E-Mail</th>
	              <th>Indirizzo Ufficio - Num.</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr class="align-middle" th:each="tl : ${TeachersList}">
	              <td>
	              		<a th:href="@{|/teachers/${tl.id}|}" th:text="${tl.getFullName()}"></a>
	              </td>
	              <td th:text="${tl.phone}"></td>
	              <td th:text="${tl.email}"></td>
	              <td th:text="${tl.officeAddress} + ' - Stanza ' + ${tl.officeNumber}"></td>
	            </tr>
	          </tbody>
	        </table>
	   </div>
</body>
</html>